html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #ddd;
}


form {
    margin: auto;
    width: 85%;
    min-width: 20rem;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr 1fr 3fr;
    font-family: Helvetica, Arial, Sans-Serif;
    align-items: baseline;
}

form > p {
    margin: 0.16rem;
}

form > button {
    grid-column: 1 / 3;
}

label {
    cursor: pointer;
}

#boxPlot {
    margin: auto;
    padding-bottom: 2rem;
}

#results {
    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: 1px dashed #000;
}

#radarDataTable {
    margin-top: 1rem;
    margin: auto;
}

#results > p {
    background-color: #333;
    color: #eee;
    text-align: center;
    width: 75%;
    margin: auto;
    border: 1px solid #aaa;
}

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  overflow: hidden;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
